.filter_dropdown{
    font-family: "SCRUBLAND";
  cursor: pointer;
  border:none;
  letter-spacing: -.9px;
  font-weight: 900;
  display: flex;
  background-position: center;
  color:white;
  -webkit-text-stroke:1.9px black;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;
  justify-content: center;
    backface-visibility:hidden;
  background-size: cover;
position: relative;
  background-repeat: no-repeat;
  padding: 4px 32px;
  background-color: transparent;
/*  width: -webkit-fill-available;*/
  background-image: url("/assets/but_options.png");
}