.card{
  box-shadow: 0px 3px 0px 0px gray;
  border-radius: 24px;
  background-color: #e7e2e9;
  padding: 4px;
  overflow: hidden;
}
.card-wrapper{
  background-color:#e4d6af ;
}
.card_button{
    position: relative;
      font-family: "Hansip";
  cursor: pointer;
  border:none;
  letter-spacing: -.9px;
  font-weight: bold;
  display: flex;
  background-position: center;
  color:white;
  -webkit-text-stroke:2px #5c2b02;
  text-transform: uppercase;
  align-items: baseline;
  font-size: 24px;
  width: -webkit-fill-available;
  background-size: cover;
  justify-content: center;
  backface-visibility:hidden;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  padding-top: 8px;
  background-color: transparent;
  background-image: url("/assets/card_button.png");
}
.card-wrapper{
  outline:6px solid #d2aa06;
  padding: 32px;
  border-radius: 24px;
  display: grid;
  margin: 24px 0;
  max-height: 480px;
  overflow-y: overlay;
  max-width: 1160px;
  place-items: center;
  gap:10px;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.card-wrapper::-webkit-scrollbar {
  background-color: #9d3e1b;
  border-radius: 200px;
}


/* Track */
.card-wrapper::-webkit-scrollbar-track {
/*  box-shadow: inset 0 0 5px grey;*/

  border-radius: 10px;
}

/* Handle */
.card-wrapper::-webkit-scrollbar-thumb {
  background: #a87c52;
  border-radius: 10px;
}
.card_image-wrapper{position: relative;}
.card_image-circle{
  position: absolute;
  border-radius: 300px;
  background-color: red;
  top:240px;
  left:50%;
  translate: -50% 0;
  border:3px solid #e7e2e9;
  height: 25px;
  width: 25px;
}
.card_image-title{
  font-family: "SCRUBLAND";
  color:white;
  font-size: 28px;
  -webkit-text-stroke:2px #312200;
  left:50%;
  white-space: nowrap;
  translate: -50% 0;
  position: absolute;
  top:150px;
}