@font-face {
    font-family: 'SCRUBLAND';
    src: url('/fonts/SCRUBLAND.ttf') format("OpenType") ;
    font-weight: bold;
}

@font-face {
    font-family: 'Hansip';
    src: url('/fonts/Hansip.ttf') format("OpenType") ;
    font-weight: bold;
}


.bg{
  background-image:url("/assets/background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.header_btn-lefticon-img{
  position: absolute;
  top:50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  translate: 0% -50%;
  left:-15px;
}

.nav_list{
  display: flex;
  gap:12px;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.header_btn{
  font-family: "SCRUBLAND";
  cursor: pointer;
  border:none;
  letter-spacing: -.9px;
  font-weight: 900;
  display: flex;
  background-position: center;
  color:#fae89f;
  -webkit-text-stroke:1.5px #5c2b02;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;
  justify-content: center;
    backface-visibility:hidden;
  background-size: cover;
position: relative;
  background-repeat: no-repeat;
  height: 59px;
  padding: 18px 40px 18px 56px;
width: 20;
  background-color: transparent;
  background-image: url("/assets/header_menu.png");
}
.header_image{
  width: 100%;
  object-fit: cover;
}
.nav{
  height: 100px;
}
.header{
  width: 100%;
  background-position: center;
  height: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/header_bg.png");
  position: fixed;
  top:-2px;
  z-index: 2;
}





