:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
}